body {
	background-color: #0F1014;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
}

.container {
	text-align: center;
}

img {
	border-radius: 50%;
	transform: scale(0.2);
	transition: transform 1.0s ease;
}

img:hover {
	transform: scale(1.0);
}
